@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
    background-color: #28282B;
}

/* body {
    display: flex;
    flex-wrap: wrap;
  } */

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

/* Top section css start*/

.top-section .app-title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 5vh;
  padding-top: 5px;
  padding-bottom: 5px;
}
.top-section .app-title > h2 {
  font-size: 4vh;
  color: white;
}
.top-section .app-title > img {
  height: 100%;
}

.top-section .welcome{

}

/*Top section css ends here*/

/*Main section css start here*/
.main {
  height: 85vh;
}

/*Main section css ends here*/

/*Bottom section css start here*/
.bottom-section {
  height: 10vh;
  display: flex;
  flex-direction: "row";
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

.bottom-section {
  button {
    width: 150px;
    height: 35px;
    background-color: #0e86d4;
    border: none;
    color: white;
    font-size: 90%;
    cursor: pointer;
    &:hover{
        background-color: darkcyan;
    }
  }
  
}

/*Bottom section css ends here*/
