body {
    background-color: #28282b;
    margin: 0;
}

.section-container {
    display: flex;
    flex-direction: column;

    /* height: 100vh; */
}

.contactTop {
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;

    button {
        border: none;
        background-color: lightskyblue;
        width: 100%;
        height: 35px;

        img {
            height: 80%;
            width: 9%;
        }
    }
}

.contactsMain {

    .search-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 30px;

        input {
            flex: auto;
        }
    }

    .filter-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        div {
            flex: 1;

            button {
                width: 100%;
                height: 100%;
                padding: 0;
                border: none;
                padding-bottom: 1px;

                h1 {
                    margin: 0;
                    padding: 0;
                    font-size: 25px;
                }

                img {
                    width: 80%;
                    height: 80%;
                }

                label {
                    font-size: 9px;
                }
            }
        }

        /* gap: 1px; */

    }

    .individual-employee-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 5px;

        #contentContainer {
            position: relative;
            top: 0;
            z-index: 999;
            display: flex;
            flex-direction: column;
            gap: 3px;
            background-color: gray;
            width: 100vw;
            max-height: 70vh;
            overflow-y: auto;
            /* padding: 10px; */

            label {
                width: 100%;
                font-size: 14px;
                color: white;
                padding: 5px;
            }

            /* display: flex;
            flex-direction: column;
            gap:15px;
            padding-left: 8px;
            background-color: gray;
            z-index: 1;
            width: 100%;
            label{
                color: white;
                font-size: 13px;
            } */
        }

        #single_emp {
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding-top: 5px;

            .employee {
                display: flex;
                flex-direction: row;
                gap: 5px;

                .leftView {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    flex: 1;

                    span {
                        color: white;
                        width: 25%;
                        text-align: center;
                    }

                    img {
                        max-width: 75%;
                        ;
                        max-height: 100%;
                    }
                }

                .rightView {
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: white;

                    .emName {
                        font-size: 15px;
                    }

                    p {
                        margin: 0;
                        font-size: 12px;
                    }
                }
            }

            /* .employee {
                display: flex;
                flex-direction: row;
                gap: 8px;
                padding: 0 5px 0 5px;
                .leftView{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    flex: 1;
                    gap: 2px;
                    span{
                        color: white;
                        width: 22%;
                    }
                    img {
                        width: 78%;
                        height: 100%;
                    }
                }
                .rightView{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex: 2;
                    .emName{
                        font-size: 15px;
                        font-weight: bold;
                    }
                    p {
                        font-size: 11px;
                        color: white;
                        margin: 0;
                    }
                }

                

                
            } */
        }

        #double_column {
            position: absolute;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 8px;
            padding: 5px;

            .employee {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .topView {
                    display: flex;
                    flex-direction: row;
                    gap: 2px;
                    align-items: center;
                    flex: 0 0 10%;
                    width: 100%;

                    p {
                        margin: 0;
                        font-size: 12px;
                        color: white;
                        height: 30px;
                    }
                }

                .buttomView {
                    flex: 1;
                    width: 100%;

                    img {
                        width: 100%;
                        ;
                        height: 100%;
                    }
                }
            }
        }

        #single_column {
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding-top: 5px;

            .employee {
                display: flex;
                flex-direction: row;
                gap: 5px;

                .leftView {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    flex: 1;

                    span {
                        color: white;
                        width: 25%;
                        text-align: center;
                    }

                    img {
                        max-width: 75%;
                        ;
                        max-height: 100%;
                    }
                }

                .rightView {
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: white;

                    .emName {
                        font-size: 15px;
                    }

                    p {
                        margin: 0;
                        font-size: 12px;
                    }
                }
            }
        }

        #emp-details {

            .topDetails {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                color: white;
                padding-bottom: 15px;
                background-color: gray;

                .em_image {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        width: 50%;
                        border-radius: 50%;
                    }
                }

                #connect {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;

                    button {
                        width: 40px;
                        height: 40px;
                        padding: 5px;
                        border: none;
                        border-radius: 50%;

                        img {
                            width: 70%;
                            height: 70%;
                        }
                    }


                }
            }

            .bottomDetils {
                padding: 15px 5px 15px;
                display: flex;
                flex-direction: column;
                gap: 3px;

                span {
                    display: flex;
                    flex-direction: row;
                    font-size: 13px;

                    label {
                        color: gray;
                        width: 35%;

                    }

                    p {
                        margin: 0;
                        color: white;
                        width: 65%;
                    }
                }
            }
        }
    }
}