body {
    background-color: #28282b;
}

.section-container {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}


/*Top section start here*/

.hrmActivityTop {
    position: fixed;
    /* Make the section fixed */
    top: 0;
    /* Position it at the top of the viewport */
    left: 0;
    width: 100%;

    background-color: #f0f0f0;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;

    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;

    button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: none;
        background-color: blue;
        height: 50px;

        p {
            color: white;
            font-size: 18px;
        }
    }
}

/*Top section end here*/



/*main section start here*/
.hrmActivityMain {
    /* Allow it to grow to fill remaining space */
    overflow-y: auto;
    /* Allow vertical scrolling */
    padding: 10px;

    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 40px auto;
    gap: 10px;
    padding-top: 5px;

    .policy-container {
        width: 45%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    #annual_holiday_list {
        padding-top: 10px;

        caption {
            color: white;
            padding-top: 10px;
            font-size: 19px;
        }

        thead {
            color: #FAF9F6;
        }

        tbody {
            color: #C0C0C0;

            tr {
                td {
                    padding-left: 5px;
                }
            }
        }

        tfoot {
            tr {
                td {
                    text-align: center;
                    color: red;

                }
            }
        }
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        button {
            border: none;
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px;
            cursor: pointer;

            span {
                font-size: 15px;
                padding-right: 5px;
                font-weight: bold;
            }

            p {
                font-size: 15px;
                flex: 1;
                font-weight: 600;
                text-align: left;
                text-transform: uppercase;
            }

            img {
                width: 15%;
            }
        }
    }
}



/*main section end here*/