body {
    background-color: #28282b;
}

.section-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* height: 100vh; */
}

/*Top section start here*/

.hrmActivityTop {
    position: fixed;
    /* Make the section fixed */
    top: 0;
    /* Position it at the top of the viewport */
    left: 0;
    width: 100%;

    background-color: #f0f0f0;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;

    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;

    button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: none;
        background-color: blue;
        height: 50px;

        p {
            color: white;
            font-size: 18px;
        }
    }
}

/*Top section end here*/

/*main section start here*/
.hrmActivityMain {
    /* Allow it to grow to fill remaining space */
    overflow-y: auto;
    /* Allow vertical scrolling */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px auto 2px;

    padding-top: 5px;

    .attendanceContainer {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 0 auto;

        height: 90vh;


        .attendanceTopDiv {
            display: flex;
            flex-direction: column;
            width: 100%;
            border: 1px solid gray;
            padding: 5px;
            border-radius: 8px;

            position: sticky;
            top: 0;
            z-index: 1;

            .topSpan {
                display: flex;
                flex-direction: row;
                gap: 5px;
                width: 100%;

                #monthList {
                    width: 100%;
                    background-color: #c0c0c0;
                }

                #yearList {
                    width: 100%;
                    background-color: #c0c0c0;
                }

                .atndOkBtn {
                    width: 25%;
                    background-color: #c0c0c0;
                }
            }

            .bottomSpan {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                width: 100%;

                div {
                    padding-top: 10px;
                    color: gray;

                    #status_title {
                        padding-right: 5px;
                        margin: 3px 0 3px 0;
                    }

                    #status_value {
                        text-align: left;
                        width: 100%;
                        margin: 0;
                    }
                }
            }
        }

        .attendanceBottomDiv {
            width: 100%;
            overflow: auto;

            div {
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 100%;

                padding-top: 10px;

                span {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;

                    p {
                        margin: 5px 0 5px 0;
                        color: white;
                    }
                }
            }
        }
    }

    .policy-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .paySlipContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;

        .paySlipTopDivContainer {
            width: 100%;

            span {
                display: flex;
                flex-direction: row;
                gap: 5px;
                width: 100%;
                border: 1px solid gray;
                padding: 5px;
                border-radius: 8px;

                select {
                    width: 100%;
                    background-color: #c0c0c0;
                }

                .paySlicShowBtn {
                    width: 25%;
                    background-color: #c0c0c0;
                }
            }
        }

        .paySlipBottomDivContainer {
            display: fle;
            flex-direction: column;
            width: 100%;

            .paySlipBottomDivFirst {
                display: flex;
                flex-direction: column;
                width: 100%;

                div:first-child {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    font-size: 20px;
                    padding-top: 15px;
                    color: white;
                    width: 100%;

                    p {
                        margin: 0;
                    }
                }

                div:nth-child(2) {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    background-color: deepskyblue;

                    span {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;

                        color: white;

                        p {
                            margin: 8px;
                            font-size: 18px;
                        }
                    }

                    span:nth-child(3) {
                        color: red;
                    }
                }
            }

            .paySlipBottomDivSecond {
                padding-top: 2px;
                gap: 2px;
                width: 100%;

                .paySlipNavigationBtn {
                    width: 100%;
                }
            }
        }
    }

    #annual_holiday_list {
        padding-top: 10px;

        caption {
            color: white;
            padding-top: 10px;
            font-size: 19px;
        }

        thead {
            color: #faf9f6;
        }

        tbody {
            color: #c0c0c0;

            tr {
                td {
                    padding-left: 5px;
                }
            }
        }

        tfoot {
            tr {
                td {
                    text-align: center;
                    color: red;
                }
            }
        }
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        button {
            border: none;
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px;
            cursor: pointer;

            span {
                font-size: 15px;
                padding-right: 5px;
                font-weight: bold;
            }

            p {
                font-size: 15px;
                flex: 1;
                font-weight: 600;
                text-align: left;
                text-transform: uppercase;
            }

            img {
                width: 15%;
            }
        }
    }
}

/*main section end here*/